@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tilt Neon", sans-serif;
}

body {
  background: teal;
}

button {
  padding: 0;
  outline: 0;
  border: none;
  background: none;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
